doctype html
html(lang="en")
  head
    title="Substitution cipher playground"
    link(rel='stylesheet', href='./assets/styles.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700',rel='stylesheet',type='text/css')
    script(src='https://code.jquery.com/jquery-1.11.2.js')
  body
    h1 Substitution cipher playground
    p
      a(href="./rot13.html") Rot13
    p
      a(href="./caesar.html") Caesar
    p
      a(href="./vigenere.html") Vigenere
